body {
    background: #b0063a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b0063a, #b0063a, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b0063a, #b0063a, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b0063a, #b0063a, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b0063a, #b0063a, #ffffff); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ========= ROSTER ========== */

.rosterBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/players/bruce1.jpg);
    background-position: top;
}

/* ========= OFFENCE ========== */

.offenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/players/fitz2.jpeg);
    background-position: top;
}

/* ========= DEFENCE ========== */

.defenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/players/pat1.jpg);
    background-position: top;
}

/* ========= MVP ========== */

.mvpBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/players/johnson3.jpg);
    background-position: top;
}

/* ========= UNIFORM ========== */

.uniBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/players/def3.jpg);
    background-position: center;
}

/* ========= UNIS BUTTON ========== */

.homeUniBtn {
    border-radius: 10px 0 0 10px;
}

.altUniBtn {
    border-radius: 0 10px 10px 0;
}

/* ========= STADIUM ========== */

.stadBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/stadium/pho1.jpg);
    background-position: center;
}

/* ========= CITY ========== */

.cityBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/ariCardinals/city/phx1.jpg);
    background-position: center;
}

/* ========= EXTRAS ========== */

.links {
    min-width: 324px;
}

/* ========= HEADINGS BG ========== */

.rosterBg, .offenceBg, .defenceBg, .mvpBg, .uniBg, .stadBg, .cityBg {
    background-size: cover;
    height: 200px;
    position: relative;
}

.headBgImgs {
    height: 300px;
}

/* ========= DIV TEAM BG LOGOS ========== */

#cards {
    background-image: url(../../../../img/teams/nfc/nfcWest/ariCardinals/logo/cardsLogo.svg.png);
}

#rams {
    background-image: url(../../../../img/teams/nfc/nfcWest/laRams/logo/ramsLogo.svg.png);
}

#niners {
    background-image: url(../../../../img/teams/nfc/nfcWest/sf49ers/logo/49ersLogo.svg.png);
}

#hawks {
    background-image: url(../../../../img/teams/nfc/nfcWest/seaSeahawks/logo/seahawksLogo.svg.png);
}

/* ============================================

                MEDIA QUERIES 

================================================ */

/* ================ TABLETS ================== */

@media only screen 
and (min-width : 768px) 
/*and (max-width : 1024px)  */
{
    
    .divFlex  {
        max-width: 1000px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .divFlex div {
        min-width: 300px;
    }
    
    .divFlex h4 {
        margin: 25px 0 0;
    } 
    
}

/* ================ DESKTOPS ================= */

@media only screen and (min-width: 1025px)
{
    
    .headBgImgs {
        background-position: center;
    }
    
    .offenceBg, .stadBg {
        background-position: top;
    }
    
     .mvpBg {
        height: 500px;
        flex: 1;
        border-right: 2px solid white;
    }
    
    .cityBg {
        flex: 1;
        height: 550px;
        margin: 0;
        border-right: 2px solid white;
    }
    
}

