body {
    background: #00295b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00295b, #00295b, #76c25f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00295b, #00295b, #76c25f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00295b, #00295b, #76c25f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00295b, #00295b, #76c25f); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ========= ROSTER ========== */

.rosterBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/players/pete2.jpg);
    background-position: top;
}

/* ========= OFFENCE ========== */

.offenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/players/russ1.jpg);
    background-position: top;
}

/* ========= DEFENCE ========== */

.defenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/players/sherm3.jpg);
    background-position: top;
}

/* ========= MVP ========== */

.mvpBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/players/earl2.jpg);
    background-position: center;
}

/* ========= UNIFORM ========== */

.uniBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/players/def2.jpg);
    background-position: center;
}

/* ========= UNIS BUTTON ========== */

.homeUniBtn {
    border-radius: 10px 0 0 10px;
}

.altUniBtn {
    border-radius: 0 10px 10px 0;
}

/* ========= STADIUM ========== */

.stadBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/stadium/cent1.jpg);
    background-position: center;
}

/* ========= CITY ========== */

.cityBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcWest/seaSeahawks/city/sea1.jpg);
    background-position: center;
}

/* ========= EXTRAS ========== */

.links {
    min-width: 329px;
}

/* ========= HEADINGS BG ========== */

.rosterBg, .offenceBg, .defenceBg, .mvpBg, .uniBg, .stadBg, .cityBg {
    background-size: cover;
    height: 200px;
    position: relative;
}

.headBgImgs {
    height: 300px;
}

/* ========= DIV TEAM BG LOGOS ========== */

#cards {
    background-image: url(../../../../img/teams/nfc/nfcWest/ariCardinals/logo/cardsLogo.svg.png);
}

#rams {
    background-image: url(../../../../img/teams/nfc/nfcWest/laRams/logo/ramsLogo.svg.png);
}

#niners {
    background-image: url(../../../../img/teams/nfc/nfcWest/sf49ers/logo/49ersLogo.svg.png);
}

#hawks {
    background-image: url(../../../../img/teams/nfc/nfcWest/seaSeahawks/logo/seahawksLogo.svg.png);
}

/* ============================================

                MEDIA QUERIES 

================================================ */

/* ================ DESKTOPS ================= */

@media only screen and (min-width: 1025px)
{
    
    .headBgImgs {
        background-position: center;
    }
    
     .mvpBg {
        height: 500px;
        flex: 1;
        border-right: 2px solid white;
    }
    
    .cityBg {
        flex: 1;
        height: 550px;
        margin: 0;
        border-right: 2px solid white;
    }
    
}

