body {
    background: #008e97; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008e97, #008e97, #f58121); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008e97, #008e97, #f58121); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008e97, #008e97, #f58121); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008e97, #008e97, #f58121); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ========= ROSTER ========== */

.rosterBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/players/gase1.jpg);
    background-position: top;
}

/* ========= OFFENCE ========== */

.offenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/players/jay1.jpg);
    background-position: center;
}

/* ========= DEFENCE ========== */

.defenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/players/wake3.jpg);
    background-position: center;
}

/* ========= MVP ========== */

.mvpBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/players/suh3.jpeg);
    background-position: top;
}

/* ========= UNIFORM ========== */

.uniBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/players/off1.jpg);
    background-position: ;
}

/* ========= UNIS BUTTON ========== */

.homeUniBtn {
    border-radius: 10px 0 0 10px;
}

.awayUniBtn {
    border-radius: 0 10px 10px 0;
}

/* ========= STADIUM ========== */

.stadBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/stadium/hrStad2.jpg);
    background-position: center;
}

/* ========= CITY ========== */

.cityBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/afc/afcEast/miaDolphins/city/miami1.jpg);
    background-position: ;
}

/* ========= HEADINGS BG ========== */

.rosterBg, .offenceBg, .defenceBg, .mvpBg, .uniBg, .stadBg, .cityBg {
    background-size: cover;
    height: 200px;
    position: relative;
}

.headBgImgs {
    height: 300px;
}

/* ========= DIV TEAM BG LOGOS ========== */

#bills {
    background-image: url(../../../../img/teams/afc/afcEast/bufBills/logo/billsLogo.svg.png);
}

#dolph {
    background-image: url(../../../../img/teams/afc/afcEast/miaDolphins/logo/dolphinsLogo.svg.png);
}

#pats {
    background-image: url(../../../../img/teams/afc/afcEast/nePatriots/logo/patriotsLogo.svg.png);
}

#jets {
    background-image: url(../../../../img/teams/afc/afcEast/nyJets/logo/jetsLogo.svg.png);
}

/* ============================================

                MEDIA QUERIES 

================================================ */

/* ================ DESKTOPS ================= */

@media only screen and (min-width: 1025px)
{
    
    .headBgImgs {
        background-position: center;
    }
    
     .mvpBg {
        height: 500px;
        flex: 1;
        border-right: 2px solid white;
    }
    
    .uniBg {
        background-position: top;
    }
    
    .cityBg {
        flex: 1;
        height: 550px;
        margin: 0;
        border-right: 2px solid white;
    }
    
}

