body {
    background: #002245; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#002245, #002245, #b0b7bc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002245, #002245, #b0b7bc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002245, #002245, #b0b7bc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002245, #002245, #b0b7bc); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ========= ROSTER ========== */

.rosterBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/players/garrett1.jpg);
    background-position: top;
}

/* ========= OFFENCE ========== */

.offenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/players/dez2.jpg);
    background-position: top;
}

/* ========= DEFENCE ========== */

.defenceBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/players/lawrence1.jpeg);
    background-position: top;
}

/* ========= MVP ========== */

.mvpBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/players/zeke4.jpg);
    background-position: top;
}

/* ========= UNIFORM ========== */

.uniBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/players/rost1.jpg);
    background-position: center;
}

/* ========= UNIS BUTTON ========== */

.homeUniBtn {
    border-radius: 10px 0 0 10px;
}

.altUniBtn {
    border-radius: 0 10px 10px 0;
}

/* ========= STADIUM ========== */

.stadBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/stadium/at1.jpg);
    background-position: center;
}

/* ========= CITY ========== */

.cityBg {
    background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
        url(../../../../img/teams/nfc/nfcEast/dalCowboys/city/dallas3.jpg);
    background-position: top;
}

/* ========= RECORDS ========== */

.supBowls {
    max-width: 90%;
    margin: 0 auto;
}

.trophy {
    height: 80px;
    padding: 0;
    margin-top: 5px;
}

/* ========= HEADINGS BG ========== */

.rosterBg, .offenceBg, .defenceBg, .mvpBg, .uniBg, .stadBg, .cityBg {
    background-size: cover;
    height: 200px;
    position: relative;
}

.headBgImgs {
    height: 300px;
}

/* ========= DIV TEAM BG LOGOS ========== */

#cowboys {
    background-image: url(../../../../img/teams/nfc/nfcEast/dalCowboys/logo/cowboysLogo.svg.png);
}

#giants {
    background-image: url(../../../../img/teams/nfc/nfcEast/nyGiants/logo/giantsLogo.svg.png);
}

#eagles {
    background-image: url(../../../../img/teams/nfc/nfcEast/phiEagles/logo/eaglesLogo.svg.png);
}

#skins {
    background-image: url(../../../../img/teams/nfc/nfcEast/wasRedskins/logo/redskinsLogo.svg.png);
}

/* ============================================

                MEDIA QUERIES 

================================================ */

/* ================ LARGE MOBILES ================== */

@media only screen 
and (min-width : 480px) 
/*and (max-width : 1024px)  */
{

/* ========= REC ========== */
    
    .supBowls {
        max-width: 100%;
    }   
    
    .trophy {
        height: 120px;
        margin: 20px 0 0;
    }
    
}

/* ================ DESKTOPS ================= */

@media only screen and (min-width: 1025px)
{
    
    .headBgImgs {
        background-position: center;
    }
    
     .mvpBg {
        height: 500px;
        flex: 1;
        border-right: 2px solid white;
    }
    
    .cityBg {
        flex: 1;
        height: 550px;
        margin: 0;
        border-right: 2px solid white;
    }
    
}

